<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar_responsive</title>
    <link rel="stylesheet" href="/styles/sidebar_responsive.css">
    
</head>
<body>  
    <div class="box-sizingResponsiv">        
                <div class="sidebarCategoryResponsiv" onclick="renderSummaryContent()">
                        <div class="sidebarLinkResponsiv">
                            <img class="summaryBt" src="/assets/img/summaryBt.svg" alt="">
                            <img class="summaryBtHover" src="/assets/img/summaryBtHover.svg" alt="">
                        </div>
                </div>
                <div class="sidebarCategoryResponsiv" onclick="render_addTask()">
                        <div class="sidebarLinkResponsiv">
                            <img class ="addTaskBt" src="/assets/img/addTaskBt.svg" alt="">
                            <img class="addTaskBtHover" src="/assets/img/addTaskBtHover.svg" alt="">
                        </div>
                </div>
                <div class="sidebarCategoryResponsiv" onclick="renderBoardHTML()">
                        <div class="sidebarLinkResponsiv">
                            <img class="boardBt" src="/assets/img/boardBt.svg" alt="">
                            <img class="boardBtHover" src="/assets/img/boardBtHover.svg" alt="">
                        </div>
                </div>
                <div class="sidebarCategoryResponsiv" onclick="render_contactsHtml()">
                        <div class="sidebarLinkResponsiv">
                            <img class="contactsBt" src="/assets/img/contactsBt.svg">
                            <img class="contactsBtHover" src="/assets/img/contactsBtHover.svg">
                        </div>
                </div>
            </div>            
        </div>
    </div>    
</body>
</html>