
    <div class="box-sizing">
        <div class="sidebar">
            <!-- Logo -->
            <div class="sidbarLogo">
                <img src="./assets/img/logo-white.svg" alt="logo">
            </div>
            <!-- Menu -->
            <div class="sidebarLinkContainer">
            <div class="sidebarLinks">
                <div class="sidebarCategory"onclick="renderSummaryContent()">
                        <div class="sidebarLink">
                            <img class="sidebarIMG" src="./assets/img/Icons_summary.png">
                            <div class="sidebarMenuText">Summary</div>
                        </div>
                </div>
                <div class="sidebarCategory" onclick="render_addTask()">
                        <div class="sidebarLink">
                            <img class="sidebarIMG" src="./assets/img/Icons_add_task.png">
                            <div class="sidebarMenuText">Add Task</div>
                        </div>
                </div>
                <div class="sidebarCategory"onclick="renderBoardHTML()">
                        <div class="sidebarLink">
                            <img class="sidebarIMG" src="./assets/img/Icons_board.png">
                            <div class="sidebarMenuText">Borard</div>
                        </div>
                </div>
                <div class="sidebarCategory"onclick="render_contactsHtml()">
                        <div class="sidebarLink">
                            <img class="sidebarIMG" src="./assets/img/Icons_contacts.png">
                            <div class="sidebarMenuText">Contacts</div>
                        </div>
                </div>
            </div>
            </div>
            <!-- Datenschutz -->
            <div class="privacy">
                <span onclick="renderPrivacyPolicyContent()" class="dataProtection">Privacy Policy</span>
                <span onclick="renderLegalNoticeContent()" class="dataProtection">Legal Notice</span>
            </div>
        </div>
    </div>
