.headlineBoard{
    height: 73px;
    width: 176px;
    display: flex;
    align-items: center;
    font-size: 31px;
    font-family: "inter", sans-serif;
    color: #000;
    font-weight: 700;
    line-height: 120%;
}

.d-None{
    display: none;
}

.tasksToDo {
    width: calc(100% - 232px);
    height: calc(100vh - 96px);
    width: calc(100% - 232px);
    height: calc(100vh - 96px);
    margin-left: 232px;
    margin-top: 96px;
}

.tasksCardsDiv{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.searchBar {    
    width: 1215px;
    height: 232px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 1px 88px 1px 0px;
}

.searchbarIn {
    display: flex;   
    width: 1215px;
    height: 73px;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;
    margin-right: 82px;
    margin-top: 79.5px;
    margin-bottom: 48px;
}

.searchBox{    
    display: flex;
    width: 312px;
    height: 48px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF; 
}

.primaryBoard{
    transition: all 100ms ease-in-out;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;    
}

.searchBoxLeft{
    display: flex;
    width: 504px;
    gap: 32px;
    margin-right: 65px;
}

.searchinput{  
    cursor: pointer;
    width: 310px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchImg:hover .board-search{
    display: none;
}

.board-searchHover{
    display: none;
}

.searchImg:hover .board-searchHover{
    display: block;
}

.src{
    cursor: pointer;
    width: 100px;
    height: 24px;
    color: var(--Style, #D1D1D1);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    outline: none;
    border-style: none;
}

.searchImg{
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
}

.plusImg,
.plusImgHover{
    width: 24px;
    width: 24px;
}

.imgPlusTask:hover .plusImgHover{
    display:block;
} 

.plusImgHover{
    display: none;
}

.imgPlusTask:hover .plusImg{
    display: none;
}

.plus_add_task_mobile{
    display: none;
}

.plus_add_task_mobileHover{
    display: none;
}

/* tasBoard */
.taskAria {
    display: flex;
    justify-content: space-between;
    padding: 0px 64px;
    height: 688px;
    width: 1208px;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
}

.taskBoardTtle {
    width: 252px;
    /* height: 648px; */
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.headLineCss {
    display: flex;
    max-width: 244px;
    justify-content: space-between;
    align-items: center;
}

.progressTitles{
    font-size: 20px;
    font-family: "inter", sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: var(--menu-color, #42526E);
}

.headLineCss a {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
   
}

.noTask{
    color: var(--icon, #A8A8A8);
    font-family: "open-sans", sans-serif;
    font-size: 16px;
    line-height: 120%; 
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

/* Large Card */
.cardA {
    display: flex;
    width: 252px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--Version-2-main-color, #2A3647);
    border-radius: 24px;
    background: var(--white, #FFF);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: transform 0.3s ease; 
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}
.cardA:hover{
    transform: rotate(10deg);
}

.smallCardTaskText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.smallCardTaskText {
    display: flex;
}
.smallTaskDescription {
    color: #4f4a4a;
}

.smallCardFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUpWindow{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8080808f;
    z-index: 999;
    transform: translateX(400%);
    transition: 550ms ease-in-out;
}
.largeCardA{
    height: 80%;
    width: 400px;
    border: solid;
    display: flex;
    width: 525px;
    padding: 48px 40px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px ;

    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
.largCardHeader {
    width: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

@media (max-width: 320px){

    .titleBoard{
        font-size: 47px !important;
    }

    .headlineBoard{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;   
        width: 302px;    
    }

    .plusImgMobile:hover .plus_add_task_mobile{
        display: none;
    }

    .plus_add_task_mobileHover{
        display: none;
    }

    .plusImgMobile:hover .plus_add_task_mobileHover{
        display: block;
    }

    .tasksToDo{
        margin-top: 0;
    }

    .searchbarIn{
        margin-left: 0px;
        flex-direction: column;
        width: 396px;
        margin-top: 40px;
        display: flex;
        align-items: flex-start;  
        height: 73px;  
        gap:40px;  
    }

    .primaryBoard{
        display: none;
    }

    .plus_add_task_mobile{
        display: block;
    }    

    .searchBox{
        margin-left: 8px;
        width: 270px;
        height: 30px;
    }

    .src{
        font-size: 20px;
    }

    .taskAria{
        display: flex;
        flex-direction: column;     
        padding: 0;
        margin-left: 0px;
    }

    .tasksToDo{   
        overflow: scroll !important;
        max-height: 750px !important;
        flex-direction: column;
        width: 428px;        
        margin-left: 0;
    }

    .taskBoardTtle{         
        width: 300px;
        margin-left: 10px;
        margin-right: 71px; 
        font-size: 27px;
    }

    .headLineCss{
        max-width: 396px;        
    }

    .progressTitles{
        font-size: 27px !important;
    }

}
