body{
    font-family: "Inter", sans-serif;

}
.contacts-headline-h1{
    font-size: 42px;
}
.nameCard{
    font-size: 40px;
    margin-bottom: 6px;
}
h3{
    font-size: 24px;
    font-weight: 300;
}
hr{
    margin-right: 32px;
    margin-left: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: rgba(231, 231, 231, 0.4);
}
.line{
    width: 3px;
    height: 55px;
    background-color: #2AAAE2;
    margin-left: 24px;
    margin-right: 24px;
}
.contacts-content{
    display: flex;
    justify-content: center;
    background-color: white;
}
.contact-list{
    background-color: white;
    margin-left: 280px;
    margin-top: 110px;
    width: 30%;
    height: 88vh;
    -webkit-box-shadow: 3px 0px 4px -4px rgba(77,77,77,0.53);
    -moz-box-shadow: 3px 0px 4px -4px rgba(77,77,77,0.53);
    box-shadow: 3px 0px 4px -4px rgba(77,77,77,0.53);
    overflow: scroll;
}
.contact-details{
    margin-top: 100px;
    width: 60%;
    height: 100vh;
    background-color: #F6F7F8;
    padding-left: 36px;
}
.add-contact{
    background-color: #293647;
    color: white;
    padding-right: 42px;
    padding-left: 42px;
    cursor: pointer;
    border: 1px;
    border-radius: 9px;
    width: 90%;
    margin-bottom: 24px;
    height: 42px;
    font-size: 15px;
    font-weight: 600;
}
.addContactBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}
.editContactBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}
.add-contact:hover{
    background-color: #2AAAE2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.addCircle{
    border-radius: 100px;
    background-color: #D1D1D1;
    width: 90px;
    height: 90px;
    margin-top: 170px;
    border: solid 1px white;
    margin-left: 55px;
    margin-right: 55px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.addCircle-image{
    margin: 29px;
    width: 30px;
}
.add-contact-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-contact-image{
    height: 24px;
    margin-left: 24px;
}
.contact-details-headline{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 48px;
}
.nameIdList{
    font-size: 16px !important;
    margin: 7px !important;
}
.nameIdEdit{
    font-size: 48px;
    font-weight: 300;
    margin: 14px;
}
.circle{
    border-radius: 100px;
    width: 36px;
    height: 36px;
    margin: 12px;
    text-align: center;
    color: white;
    border: solid 1px white;
    display: flex;
align-items: center;
justify-content: center;
    
}
.editCircle{
    border-radius: 100px;
    width: 90px;
    height: 90px;
    text-align: center;
    color: white;
    margin-top: 170px;
    border: solid;
    margin-left: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact-info{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 90%;
    height: 65px;
    margin-bottom: 12px;
}
.contact-info:hover{
    background-color: rgba(128, 128, 128, 0.097);
}
.contact-info-right{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.contact-info-left{
    margin: 10px;
}
.contact-info-mail{
    color: #55A5F4;
}
.circleCard{
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: 12px;
    text-align: center;
    color: white;
    border: solid white 3px;
    margin-right: 36px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nameId{
    font-size: 36px;
    margin: 22px;
}
.contactCard{
    margin-left: 24px;
    margin-top: 24px;
}
.buttonsCard{
    display: flex;
}
.logo-mini{
    height: 18px;
    margin-right: 6px;
}
.contactNameButtons{
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}
.contactTitle{
    display: flex;
    margin-bottom: 24px;
}
.textCard{
    font-size: 18px;
    margin-bottom: 36px;

}
.head-info{
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: bold;
}
.main-info-mail{
    color: #459DF0;
}
.d-none{
    display: none;
}
.addContactLeft{
    background-color: #2B3646;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    width: 380px;
}
.addContactPopup{
    position: fixed;
    left: 250px;
}
.addContactRight{
    background-color: white;
    width: 440px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.addContactMain{
    display: flex;
    flex-direction: row;
    height: 460px;
    border-radius: 36px;
    margin-left: 80px;
    margin-right: 80px;
}
.addContactHeadline{
    color: white;
    font-size: 45px;
    margin-top: 12px;
    margin-left: 30px;
}
.addContactHeadline2{
    color: white;
    font-size: 21px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 12px;
}

.line2{
    background-color: #2AAAE2;
    width: 70px;
    height: 2px;
    margin-left: 40px;
    margin-top: 12px;
}
.line3{
    background-color: #2AAAE2;
    width: 70px;
    height: 2px;
    margin-left: 30px;
    margin-top: 12px;
}
.input{
    display: flex;
    flex-direction: column;
    margin-top: 36px;

}
.inputField{
    border: none;
    width: 348px;
    border-radius: 12px;
    padding: 0;
    height: 36px;
    padding-left: 12px;
    margin-right: -70px;
    font-size: 15px !important;
}
.inputField:hover{
    border: 2px solid #2AAAE2 !important;
}
.inputField:focus{
    border: 2px solid #2AAAE2 !important;
}
.formDiv{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 24px;
}
.editContactLeft{
    background-color: #2B3646;
    width: 380px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.editContactPopup{
    position: fixed;
    left: 250px;
    font-weight: 700;
}
.editContactRight{
    background-color: white;
    width: 440px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.editContactMain{
    display: flex;
    flex-direction: row;
    height: 460px;
    border-radius: 36px;
    margin-left: 80px;
    margin-right: 80px;
}
.editContactHeadline{
    color: white;
    font-size: 50px;
    margin-left: 40px;
    margin-top: 24px;
}
.editContactMiddle{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 200px;
}
.addContactMiddle{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 200px;
}
.editContactLogo{
    margin-top: 120px;
    margin-left: 40px;
    width: 50px;
}
.addContactLogo{
    margin-top: 100px;
    margin-left: 40px;
    width: 50px;
}
.editCard {
    position: relative;
    cursor: pointer;
    margin-right: 18px;
    align-items: center;
  }
  .logo-mini{
    width: 20px; 
    height: 20px; 
    margin-bottom: -4px;
  }
  .logo-mini-hover {
    width: 20px; 
    height: 20px; 
    margin-right: 6px;
    margin-bottom: -4px;
  }
  .logo-mini-hover {
    display: none; 
  }
  .editCard:hover{
    color: #2AAAE2;
    font-weight: 500;
  }
  .textEdit{
    margin-bottom: 6px;
  }
  .deleteCard {
    position: relative;
    cursor: pointer;
    margin-right: 18px;
    align-items: center;
  }
  .deleteCard:hover{
    color: #2AAAE2;
    font-weight: 500;
  }

  .cancel-button-div {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 18px;
    align-items: center;
    margin-left: 3px;
  }
  .cancel-img-black{
    width: 20px; 
    height: 20px; 
    margin-bottom: -4px;
  }
  .cancel-img-blue {
    width: 20px; 
    height: 20px; 
    margin-right: 6px;
    margin-bottom: -4px;
  }
  .cancel-img-blue {
    display: none; 
  }
  .editButtons:hover{
    color: #2AAAE2;
    font-weight: 500;
  }
  .cancel-text{
    font-size: 15px;
}
.editButtons{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.group-header{
    margin-left: 36px;
}
.close-img{
    position: relative;
    cursor: pointer;
}
.close-img-div{
    display: flex;
    justify-content: flex-end;
    margin-top: -48px;
    margin-right: 18px;
}
.logo-edit-input{
    width: auto;
    height: 18px;
    margin-right: 24px;
}
.inputFieldName{
    display: flex;
    border: 1px solid #D9D9D9;
    height: 36px;
    margin-bottom: 30px;
    border-radius: 9px;
    justify-content: space-between;
    width: 360px;
    align-items: center;
}
.deleteButton{
    width: 70px;
    height: 35px;
    border: 1px solid #293647;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    margin-right: 12px;
    font-size: 15px;
}
.deleteButton:hover{
    border: 1px solid #2AAAE2;
    color: #2AAAE2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.closeButton:hover{
    border: 1px solid #2AAAE2;
    color: #2AAAE2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.createButton:hover{
    background-color: #2AAAE2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #2AAAE2;
}
.saveButton{
    width: 80px;
    height: 35px;
    border: 1px solid #293647;
    border-radius: 6px;
    background-color: #293647;
    cursor: pointer;
    margin-right: 12px;
    color: white;
    font-size: 15px;
}
.closeButton{
    width: 90px;
    height: 40px;
    border: 1px solid #293647;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    margin-right: 12px;
}
.createButton{
    width: 150px;
    height: 40px;
    border: 1px solid #293647;
    border-radius: 6px;
    background-color: #293647;
    cursor: pointer;
    margin-right: 12px;
    color: white;
}
.saveButton:hover{
    background-color: #2AAAE2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #2AAAE2;
}

.save-button-div{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.create-button-div{
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.save-check-img{
    width: 18px;
    margin-left: 4px;
}
.create-img{
    width: 18px;
}
.create-text{
    font-size: 15px;
}
.success {
    display: block !important;
    position: fixed;
    bottom: 50px;
    border-radius: 12px;
    width: 250px;
    right: -200%;

    background-color: #293647;
    color: white;
    text-align: center;
    padding: 23px;
    transition: right 0.5s ease-in-out;
}
.success.show {
    right: 500px;
}
.button-add-contact-mobile{
    display: none;
}
.closeAddContact-mobile{
    display: none;
}
.line4{
    display: none;
}
.button-edit-contact-mobile{
    display: none;
}


.slide-left {
    animation: slide-left 0.5s linear both;
 }
 
 .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mini-popup{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 12px;
    border: solid 1px white;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 90px;
    width: 100px;
}
.mini-popup-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

 @keyframes slide-left {
    0% {
       transform: translateX(400px);
       -webkit-transform: translateX(400px); /* F端r Webkit-basierte Browser */
       -moz-transform: translateX(400px); /* F端r Firefox */
    }
    100% {
       transform: translateX(0px);
       -webkit-transform: translateX(0px); /* F端r Webkit-basierte Browser */
       -moz-transform: translateX(0px); /* F端r Firefox */
    }
 }

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  

 @media(max-width: 397px){
    .hide-mobile-397px{
        display: none;
    }
    .contact-list{
        width: 100%;
        margin-left: 30px;
    }
    .slide-left{
        animation: none;
    }
    .contactCard{
        margin-top: 100px;
    }
    .button-add-contact-mobile{
        border: 1px solid var(--Version-2-main-color, #2A3647);
        background: var(--Version-2-main-color, #2A3647);
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 110px;
        right: 24px;
        border-radius: 46px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 12px;
        gap: 10px;
    }
    .image-add-contact-mobile{
        width: 32px;
        height: 32px;
    }
    .button-add-contact-mobile:hover{
        background-color: #2AAAE2;
        border-color: #2AAAE2;
    }
    .button-edit-contact-mobile{
        display: none;
        border: 1px solid var(--Version-2-main-color, #2A3647);
        background: var(--Version-2-main-color, #2A3647);
        cursor: pointer;
        /*display: inline-flex;
        justify-content: center;
        align-items: center;*/
        position: fixed;
        bottom: 110px;
        right: 24px;
        border-radius: 46px;
        width: 40px;
        height: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 12px;
        gap: 10px;
    }
    .image-edit-contact-mobile{
        width: 36px;
        margin: 2px;
    }
    .button-edit-contact-mobile:hover{
        background-color: #2AAAE2;
        border-color: #2AAAE2;
    }
    .addContactMain{
        flex-direction: column;
        height: 400px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -75px;
    }
    .addContactLeft{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 0px;
        width: 321px;
        height: 200px;
/*        height: 351px;*/
        padding: 66px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        flex-shrink: 0;
    }
    .addContactRight{
        height: 350px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 0;
        width: 368px;
    }
    .closeAddContact-mobile{
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-top: -50px;
        margin-left: 300px;
        margin-bottom: 80px;
    }
    .close-img-div {
        display: none;
    }
    .addContactMiddle{
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 321px;
        height: 1px;
    }
    .input{
        margin-right: 12px;
        margin-left: 12px;
        margin-top: 6px;
    }
    .addCircle{
        position: fixed;
        left: 90px;
        top: 40px;
        width: 100px;
        height: 100px;
    }
    .addCircle-image{
        margin: 31px;
        width: 38px;
    }
    .addContactPopup{
        left: 0;
    }
    .slide-left{
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .inputFieldName{
        width: 341px;
    }
    .logo-edit-input{
        margin-right: 12px;
        height: 16px;
    }
    .inputField{
        margin-right: -36px;
        width: 329px;
    }
    .addContactHeadline{
        font-size: 36px;
        margin-top: 42px;
        margin-left: 0;
        font-weight: 600;
    }
    .addContactHeadline2{
        margin-left: 0;
        font-weight: 300;
    }
    .line3{
        margin-left: 0;
        margin-top: 18px;
    }
    .createButton{
        font-weight: 600;
    }
    .editButtons{
        justify-content: center;
        margin-left: 24px;
    }
    .contact-details{
        margin-top: 80px;
        width: 100%;
        padding-left: 0;
    }
    .contact-details-headline{
        flex-direction: column;
        align-items: flex-start;
    }
    .line{
        display: none;
    }
    .contacts-headline-h1{
        font-size: 50px;
        font-weight: 700;
    }
    .line4{
        display: block;
        width: 90px;
        height: 3px;
        background-color: #2AAAE2;
        margin-top: 14px;
        margin-bottom: 30px;
    }
    h3{
        margin-top: 8px;
    }
    .circleCard{
        width: 80px;
        height: 80px;
        margin: 0px;
        margin-right: 20px;
    }
    .nameId{
        font-size: 33px;
    margin: 16px;
    }
    .buttonsCard{
        display: none;
    }
    .nameCard{
        font-size: 36px;
        font-weight: 700;
    }
    .textCard{
        margin-bottom: 24px;
    }
    .logo-mini{
        width: 25px;
        height: 25px;
        margin-bottom: -4px;
    }
}