* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  height: 96px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.headline-header {
  padding-left: 348px;
}

.user-profil-initials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-right: 40px;
}

.user-profil-question-mark {
  cursor: pointer;
}

.user-profil-question-mark:hover {
  transform: scale(1.1);
}

.user-profil-initials {
  cursor: pointer;
}

.user-profil-initials:hover {
  background-color: #0C2E621F;
  border-radius: 100%;
}

.submenu-container {
  position: absolute;
  top: 96px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 0px 20px 20px;
  background-color: #2a3647;
  color: #A8A8A8;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 158px;
  padding: 10px;
  transform: translateX(500px);
  transition: all 225ms ease-in-out;
}

.show-submenu {
  transform: translateX(0);
}

.submenu-text {
  display: flex;
  width: 130px;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.submenu-text:hover {
  background-color: #36465d;
   /* hover color not visible */
}
