/* Global Css */
.dNone {
  display: none;
}
/* end */

* {
  margin: 0;
}

body {
  background-color: rgb(246, 247, 248);
  font-family: "Inter", sans-serif;
}

.animationJoinLogo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #f6f7f8;
  z-index: 2;
}

.join-logo {
  position: absolute;
  width: 273px;
  height: 334px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animationJoinLogo img {
  width: 919px;
  height: 240px;
  padding: 5px 5px 5px 5px;
}

/* transparen Animation */
.animationJoinLogo.animated {
  animation: containerAnimation 625ms forwards;
  animation-delay: 2s;
}

@keyframes containerAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* move Animation */
@keyframes logoAnimation {
  0% {
    height: 334px;
    width: 273px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #f6f7f8;
  }
  100% {
    height: 121px;
    width: 100px;
    left: 0;
    top: 10px;
    transform: translateY(0);
    background: #f6f7f800;
  }
}

.join-logo.animated {
  animation: logoAnimation 625ms forwards;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/* end */

/* style homepage */

.logo-sign-up-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 80px;
  left: 77px;
}

.sign-up-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 67px;
  right: 122px;
  gap: 35px;
}

.sign-up-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#content-user-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 652px;
  height: 493px;
  border-radius: 30px;
  gap: 32px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.headline-log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 315px;
  height: 89px;
  gap: 16px;
}

.headline-log-in {
  font-size: 61px;
}

.bottom-line {
  height: 3px;
  width: 150px;
  background-color: rgba(41, 171, 226, 1);
}

.input-log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.input-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 422px;
  height: 48px;
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 21px;
  border: 1px solid rgba(209, 209, 209, 1) !important;
}

.input-field {
  width: 380px;
  height: 32px;
  font-size: 20px;
  outline: none;
  border: none;
}


.input-field::placeholder {
  display: flex;
  justify-content: space-between;
  border: none;
  height: 32px;
  font-size: 20px;
  color: rgba(209, 209, 209, 1) !important;
}




