* {
    margin: 0;
    font-family: 'Inter' !important;
}


:root {
    --sidbarlinkHover: #1aa7e4;
    --sidebarBgColor: #2A3647;
    --linkActive: #091931;
    --textColor: #FFF;
    --sideWidth: 232px;
    --sideHeight: 100vh;
    --fonSiz16: 16px;
}
.box-sizing{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 232px;
    background: var(--sidebarBgColor);
    z-index: 999;
}
.sidebar {
    width: 100%;
    height: calc(100vh - 96px);
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.sidbarLogo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.sidebarCategory{
    display: flex;
    width: 232px;
    height: 46px;
    padding: 8px 56px;
    align-items: center;
    gap: 8px;
}