.summaryMain {
    width: calc(100% - 23px);
    height: calc(100vh - 96px);
    background: #F6F7F8;
    margin-top: 96px;
    margin-left: 232px;
    font-family: 'Inter', sans-serif;
}

.summaryContainer {
    margin-left: 96px;
    display: flex;
    justify-content: space-around;
}

.summaryLeft {
    margin-top: 110px;
}

.summaryHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.summaryHeader h1 {
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.blueLineText {
    display: flex;
    align-items: center;
    gap: 30px;
}

.blueLine {
    height: 59px;
    border-right: 3px solid #29ABE2;
}

.summaryKey {
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.summaryTaskContainer {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}