/* Allround Class */



.summaryMain {
    width: calc(100% - 23px);
    height: calc(100vh - 96px);
    background: #e5e5e6;
    margin-top: 77px;
    margin-left: 232px;
    font-family: 'Inter', sans-serif;
}

.summaryContainer {
    margin-left: 96px;
    display: flex;
    justify-content: space-around;
}

/* Linke Seite des Mains */
.summaryLeft {
    margin-top: 110px;
    max-width: 560px;
}

/* Der Header */
.summaryHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 56px;
}

.summaryHeader h1 {
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.blueLineText {
    display: flex;
    align-items: center;
    gap: 30px;
}

.blueLine {
    height: 59px;
    border-right: 3px solid #29ABE2;
}

.summaryKey {
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* header ende */

/* Übersicht der Aufgaben */

.summaryTaskContainer {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

/* Die zweit Buttons oben */
.summaryTodoDone {
    display: flex;
    width: 560px;
    height: 168px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.summaryTodoDone a {
    display: flex;
    width: 40%;
    height: auto;
    padding: 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 30px;
    background: white;
    text-decoration: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

/* der Button in der Mitte */
.summaryUrgendDeadLine {
    display: flex;
    width: 560px;
    height: 168px;
    padding: 27px 30px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    flex-shrink: 0;
    border-radius: 30px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    text-decoration: none;
}

.urgend {
    display: flex;
    align-items: center;
    gap: 18px;
}

.partingLine {
    width: 2px;
    color: black;
    height: 80%;
    background-color: #a8a8a8;
}

.deadline {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#date {
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

/* Die Drei Button Unten */
.summaryTasks {
    display: flex;
    width: 560px;
    height: 170px;
    padding: 1px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

/* desing der Drei buttons */
.taskspanels {
    display: flex;
    width: 168px;
    height: 168px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
    border-radius: 30px;
    background: white;

    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

/* text Inside Dialog */
.toDoIcon {
    width: 69px;
    height: 69px;
}

.taskNumber {
    color: #000;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.taskText {
    color: #2A3647;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

}

.deadLineText {
    color: #2A3647;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
}

/* Hover */
.toDoPanel:hover,
.toDoPanelBig:hover,
.taskspanels:hover {
    transform: scale(1.05);
    background: #2A3647;
    transition: 225ms ease-in-out;
    color: white;
}

.toDoPanel:hover .editHover img {
    content: url('../assets/img/editeWhite.png');
}
.toDoPanel:hover .checkhover img {
    content: url('../assets/img/checkwhite.png');
}

.toDoPanel:hover .taskNumber,
.toDoPanel:hover .taskText {
    color: white;
}
.toDoPanelBig:hover #date{
    color: white;
}
.toDoPanelBig:hover .deadLineText{
    color: white;
}
.toDoPanelBig:hover .taskNumber,
.toDoPanelBig:hover .taskText {
    color: white;
}
.partingLine:hover {
    background-color: white;
}

